{erl_opts, [debug_info]}.
{deps, [
     {sync,     {git, "https://github.com/rustyio/sync.git",         {branch, "master"}}}
    ,{glog,     {git, "https://github.com/pierluidgi/glog.git",      {branch, "master"}}}
    ,{jsx,      {git, "https://github.com/talentdeficit/jsx.git",    {branch, "master"}}}
    ,{ibrowse,  {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}}
    ,{cowboy,   {git, "https://github.com/extend/cowboy.git",        {branch, "master"}}}
]}.


{relx, [{release, {telebot, "0.1.0"},
         [telebot,
          sasl]},


        {sys_config,  "./config/sys.config"},
        {vm_args_src, "./config/vm.args.src"},


        {dev_mode, true},
        {include_erts, true},
        {system_libs, true},
        {include_src, false},

        {extended_start_script, true}]


}.


{profiles, [
    {prod, [
        {relx, [{dev_mode, false}, {include_erts, true}]},
        {erl_opts, [no_debug_info, {d, 'prod'},
          {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
          {platform_define, "(linux|freebsd)", 'BACKLOG', 128}
        ]}
    ]},
    {dev, [
        {relx, [{include_erts, true}]},
        {erl_opts, [no_debug_info, {d, 'dev'},
          {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
          {platform_define, "(linux|freebsd)", 'BACKLOG', 128}
        ]}
    ]}
]}.

